@page
@model IndexModel
@inject TailwindMerge.TailwindMerge TW

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
       
    <h2>Source</h2>
    <div>
        @@TW.Merge("aspect-auto", "aspect-video")
    </div>
    <h2>Results</h2>
    <div>
        @TW.Merge("aspect-auto", "aspect-video")
    </div>
</div>
